input {
    border-radius: 6px;
    width: 15%;
    height: 10%;
}

/* attribute selector - selector[attribute="value"] */
input[type="text"] {
    background-color: gray;
}

input[type="email"] {
    background-color: #333;
}

input[type="password"] {
    box-shadow: 5px 5px 7px #333;
}

input[type="submit"] {
    width: 10%;
}

input:hover {
    box-shadow: 0 0 8px #333;
}

input[type="submit"]:hover {
    box-shadow: 0 0 15px #333;
}

/* 
სელექტორის ტიპები: 

1. ელემენტის, id, class
2. შთამომავალი სელექტორი
3. multi-selector
4. pseudo-class-selector (state-styling)
5. attribute selector
*/

div {
    width: 500px;
    height: 500px;
    background-color: #22393f;

    border-radius: 10% 20% 30% 40%;
}