/* CSS Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 40px;
    height: 100vh;
}

.container {
    border: 5px solid #EB5757;
    height: 1000px;

    display: flex;
    
    align-items: center;

}

.child {
    background-color: seagreen;
    border: 2px solid black;

    height: 150px;
}

.one {
    width: 100px;
    height: 100px;
}

.two {
    width: 200px;
    height: 200px;
}

.three {
    width: 300px;
    height: 300px;
}

.four {
    width: 400px;
    height: 400px;
}

.five {
    width: 500px;
    height: 500px;
}