/* .container {
    border: 5px solid #EB5757;
    height: 20vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.child {
    background-color: #218e33;
    border: 5px solid #3b0b7d;

    width: 50px;
    height: 50px;
} */