body {
    font-size: 40px;
    height: 200vh;
}

.parent {
    background-color: rgb(16, 139, 216);
    padding: 20px;
    
    height: 30vh;

    position: relative;
}

.items {
    padding: 20px;
}

/* 
positions
static - სტატიკური, ყველა ელემენტის თავდაპირველი პოზიცია რომელიც ელემენტს ჩვეულბრივ html-ის განლაგებაში სვამს
relative - მიკავშირებული, შეგვიძლია გადაადგილება top, bottom, left, right კუთვნილებებით, მთავარი ის თვისება აქვს რომ შეგვიძლია შვილი აბსოლიტური პოზიციის მქონე ელემენტის მიკავშირებული პოზიციის მქონე მშობელ ელემენტში გადავაადგილოთ, აბსოლიტური პოზიიცის მქონე ელემენტის ჩარჩო გახდეს ყველაზე ახლო მშობელი რომელიც მიკავშირებული პოზციის მქონე
absolute - აბსოლიტური, შეგვიძლია გადავაადგილოთ ნებისმიერ ადგილას ყველაზე ახლო მიკავშირებული პოზიციის მქონე ელემენტის ჩარჩოებში
fixed - გაწერილი, აბსოლიტურის მსგვსად შეიძლება გადაავადგილოთ უცვლელი პოზიცია ყოველთვის, გვერდის დასქროლვისასაც იგივე ადგილს შეინარჩუნებს ამ პოზციის მქონე ელემენტი
sticky - წებოვანი პოზიცია, რომელიც დაისქროლება თავისი მშობლის ჩარჩოს შიგნით თუ მშობელს მიკავშირებული პოზიცია

*/

.one {
    background-color: #49b649;

    position: relative;
    
    top: 0;
}

.two {
    background-color: #a94545;
}

.three {
    background-color: #4c157f;
}

/* .container {
    margin-top: 10%;

    width: 100%;
    border: 5px solid red;

    display: flex;
}

.child {
    height: 300px;
    width: 300px;
    background-color: rgb(166, 19, 112);
    border: 3px solid black;
} */

/* .second {
    position: absolute;
    top: 200px;
    right: 150px;
    z-index: 12;
} */