* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#frame {
    width: 500px;
    height: 100px;

    border: 5px solid black;
    background-color: seagreen;
}

#bar {
    width: 0%;
    height: 100%;
    background-color: rgb(31, 32, 107);
    
    /* padding: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

    
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#bar p {
    margin-left: 300px;
}

@keyframes loading {
    0% {background-color: 0%;}
    100%   {width: 100%;}
}

#loader {
    border-radius: 50%;

    height: 300px;
    width: 300px;

    border-top: 5px solid white;

    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* #heart {
    border-radius: 50%;

    height: 300px;
    width: 300px;

    background-color: #A61212;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }
    
    100% {
        transform: scale(1);
    }
} */