@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* #color {
    background-color: #FFFF00;
}

#red {
    background-color: rgb(255, 0, 0);
} */

/* #green {
    background-color: rgb(0, 255, 0);
}

#blue {
    background-color: rgb(0, 0, 255);
}

#pink {
    background-color: rgb(255, 0, 255);
}

#cyan {
    background-color: rgb(0, 255, 255);
}

#yellow {
    background-color: rgb(255, 255, 0);
}

#white {
    background-color: rgb(255, 255, 255);
} */
/* 
#box {
    width: 50%;
    height: 300px;
    background-color: seagreen;

    border: 15px solid blue;
}

img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 2em;
} */

/* 
text-decoration-line - ხაზი
text-decoration-style - სტილი
text-decoration-color - ფერი

font-family - შრიფტს
*/


p {
    font-family: Roboto;
}