@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Roboto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playerOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

#rockBtn, #paperBtn, #scissorsBtn {
    width: 300px;
    height: 300px;
    background: url("./Images/Rock.png");
    background-size: contain;
    background-position: center;
}

#rockBtn, #paperBtn, #scissorsBtn h3 {
    margin-bottom: 90%;
}