.container {
    margin: auto;

    width: 350px;
    height: 300px;
    border: 5px solid gray;

    background-image: url("image.png"); 
    background-repeat: no-repeat; /* ფონის გამეორება */ 
    background-size: 100px 200px; /* ზომა */
    background-position: 20px 50px; /* პოზიცია */
    background-attachment: scroll; 
}

/* body {
    height: 200vh;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
/* } */

/* 
background size
contain - რამდენადაც შეიძლება ადიდებს სურათს ისე რომ არ გაფუჭდეს ხარისხი, ამის გამო შეიძლება ჰორიზონტალურად ან ვერტიკალურად დამატებიტი სივრცე დარჩეს კონტინერში რომელსაც არ აქვს ფონი 

cover
*/