* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* CSS Reset */
    font-size: 40px;
}

.container {

    border: 3px solid red;
    height: 1000px;
    
    display: flex;

    /* position: relative; */
    margin-top: 500px;
}   

.item {
    width: 200px;
    height: 200px;

    background-color: blueviolet;
    border: 2px solid black;
}

#two {
    position: absolute;
    top: 150px;
    left: 50px;
}
